<br>
<h1>Torsten Mosumgaard Keramik</h1>
<!-- <p></p> -->
<p>You are welcome to contact me at <a href="mailto:torsten@mosumgaard.dk">torsten@mosumgaard.dk</a> or <a href="tel:004597951950">+45 97 95 19 50</a>.</p>
<br>
<br>

{{#image-gallery images=images currentImageId=image as |images currentImage open close next previous|}}
  {{#modal-dialog modalImage=currentImage as |modalImage|}}
    <button onclick={{action previous}} title="See previous photo">&larr;</button>
    {{x-img img=modalImage onClick=(action close)}}
    <button onclick={{action next}} title="See next photo">&rarr;</button>
  {{/modal-dialog}}

  <section>
    {{#each images as |img|}}
      {{x-img img=img onClick=(action open img)}}
    {{/each}}
  </section>
{{/image-gallery}}

{{outlet}}
