<!-- <h1>Torsten Mosumgaard Keramik</h1> -->
<!-- <p>You can contact me at <a href="mailto:torsten@mosumgaard.dk">torsten@mosumgaard.dk</a> or <a href="tel:004597951950">+45 97 95 19 50</a>.</p> -->

{{#image-gallery as |selectedImage open close|}}
  <div class="Modal {{if selectedImage 'is-open'}}"
    onclick={{action close}}>
    {{#if selectedImage}}
      {{x-img img=selectedImage}}
    {{/if}}
  </div>

  {{#each images as |img|}}
      {{x-img img=img onClick=(action open img)}}
  {{/each}}
{{/image-gallery}}

    <!-- {{#link-to "photo" img}} -->
    <!-- {{/link-to}} -->

{{outlet}}
